@{
    Html.Assets().Scripts.Add("/Scripts/SiteFunctions.js");
    Html.Assets().Scripts.Add("/Scripts/ShoutBox.js");
    Html.Assets().Scripts.Add("/Content/bootstrap/js/bootstrap.min.js");
    Html.Assets().Scripts.Add("/Scripts/jquery.cookie.js");
    Html.Assets().Scripts.Add("/Scripts/jorder.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Forum.css")" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <link href="../../Content/style.css" rel="Stylesheet" type="text/css" />
    
  @Html.Assets().Styles.Render()

</head>
<body>
    <header>
        <!--Navigation Bar-->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Guild Site Framework</a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="divider-vertical"></li>
                        <li>@Html.ActionLink("Forums", "Index", "Forum")</li>
                        <li class="divider-vertical"></li>
                        <li>@Html.ActionLink("Schedule", "Index", "Schedule")</li>
                        <li class="divider-vertical"></li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li class="divider-vertical"></li>
                        </ul>
                        <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="AccountLeader"> 
                            Sign In
                            <b class="caret"></b></a>
                            <ul style="width:200;" class="dropdown-menu">
                                <li id="Account-item1">
                                    <div id="loginform" width="300">
                                    <form action="/Account/LogOn" method="post">
                                        <label for="UserName">UserName</label>
                                        <input style="width: 80%; margin-left: 10%;" data-val="true" data-val-required="The User name field is required." id="UserName" name="UserName" type="text" placeholder="UserName" />
                                        <label for="Password">Password</label>
                                        <input style="width: 80%; margin-left: 10%;" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                                        <script type="text/javascript">document.write("<input type='hidden' name='returnUrl' value='" + document.URL + "' />");</script>
                                        <input type="submit" class="btn-primary" value="Log On">
                                        <label style="width:80%; margin-left: 10%;" class="divider"></label>
                                        <label class="help-block">Not a member? <a href="/Account/Register" class="help-inline">Register</a></label>
                                    </form>
                                    
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>    
                </div>
            </div>
        </div> <!-- End Nav Bar -->
    </header>

    <!-- Shoutbox -->
    <div id="sbicon">
        <img width="34" height="130" src="../../img/shoutboxicon.png" alt="shoutbox" style="display:block;" id="icon" rel="0"/>
    </div>
        
    <div id="sbcontent">
        <div id="chatbox">
        </div>
        <div id="chatboxinput">
            <textarea  rows="3" cols="20" id="inputthis" maxlength="150"></textarea>
        </div>
    </div>
    <!--Main Content Here -->
    <section id="main">
        <div id="maintop">
            <img style="display:block;" src="../../img/maintop.png" alt="maintop" />
        </div>

        <div id="mainbody">
            <div id="bodycontent">
                @RenderBody()
            </div>
        </div>
        
        <div id="mainbottom">
            <img style="display:block;" src="../../img/mainbottom.png" alt="mainbottom" />
        </div>
    </section>

    <footer>
    </footer>


    <section id="dialogs">
        <div class="modal fade" id="ieModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
                <h3>UNSUPPORTED BROWSER</h3>
            </div>
            <div class="modal-body">
                <p>You really should ditch that legacy browser and take advantage of the web's latest and greatest features. Find a fully HTML5 compliant browser with <a href="http://www.getfirefox.com">Firefox</a> or <a href="http://chrome.google.com">Chrome</a></p>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $('document').ready(function () {
            if ($.browser.msie != undefined) {
                $('#ieModal').modal({
                    backdrop: true,
                    keyboard: false
                });
            }
        });
    </script>

    <script src="../../js/shoutbox.js" text/javascript"></script>
    @Html.Assets().Scripts.Render()

    <script>
     var ShoutData =  @Html.Raw(Capstone_csharp.Helpers.ShoutBoxJson.FetchShoutBoxJson())
    </script>
</body>
</html>
